.title {
    text-align: center;
}

.hockey_canvas {
    margin: auto;
    display: block;
    width: 80%;
    height: 34%;
}

.additional_canvas_options {
    padding-left: 10%;
    padding-bottom: 5px;
}

.input_form {
    padding-left: 10%;
}