{% extends "layout.html" %}
{% block content %}

    <div class="hockey_canvas">
      <svg viewbox="-1000 -425 2000 850" id="hockey_rink">
          <rect x="-1000" y="-425" rx="100" ry="100" width="100%" height="100%" style="fill:rgb(237, 237, 255);stroke-width:3;stroke:black"/>
          <line x1="0" y1="-425" x2="0" y2="425" style="stroke:red;stroke-width:3"/>
          <circle cx="0" cy="0" r="150" stroke="blue" stroke-width="3" fill="none"/>
          <line x1="300" y1="-425" x2="300" y2="425" style="stroke:blue;stroke-width:3"/>
          <line x1="-300" y1="-425" x2="-300" y2="425" style="stroke:blue;stroke-width:3"/>
          <line x1="900" y1="-425" x2="900" y2="425" style="stroke:red;stroke-width:3"/>
          <line x1="-900" y1="-425" x2="-900" y2="425" style="stroke:red;stroke-width:3"/>
          <rect x="-943" y1="-30" width="40" height="60" style="fill:grey;stroke-width:3;stroke:grey"/>
          <rect x="903" y1="-30" width="40" height="60" style="fill:grey;stroke-width:3;stroke:grey"/>

          {% if coordinates_list %}
            {% for shot in coordinates_list %}
              <circle cx="{{ shot[0] }}" cy="{{ shot[1] }}" r="5" fill="red"/>
            {% endfor %}
          {% endif %}

      </svg>
    </div>
    <div class="input_form">
      <form action="/save_chart" method="post">
        <input type="hidden" name="shot_coordinates" id="shot_coordinates">
        <label for="chart_name">Chart Name:</label>
        <input type="text" name="chart_name" id="chart_name">
        <br>
        <label for="chart_date">Chart Date:</label>
        <input type="date" name="chart_date" id="chart_date">
        <br>
        <input type="submit" value="Save Chart">
      </form>
    </div>
    <div class="clear_chart">
      <form action="/clear_chart" method="post">
        <input type="submit" value="Clear Chart">
      </form>
    </div>
    <script>

        document.getElementById('chart_date').valueAsDate = new Date();

        var shot_coordinates = [];
        

        var hockey_rink = document.getElementById("hockey_rink");
        var pt = hockey_rink.createSVGPoint();
        hockey_rink.addEventListener("click", function(evt) {
            pt.x = evt.clientX;
            pt.y = evt.clientY;

            var cursorpt =  pt.matrixTransform(hockey_rink.getScreenCTM().inverse());

            //draw a circle at the click location
            var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            circle.setAttributeNS(null, "cx", cursorpt.x);
            circle.setAttributeNS(null, "cy", cursorpt.y);
            circle.setAttributeNS(null, "r", 5);
            circle.setAttributeNS(null, "fill", "red");
            hockey_rink.appendChild(circle);
            shot_coordinates.push([cursorpt.x, cursorpt.y]);
            document.getElementById('shot_coordinates').value = JSON.stringify(shot_coordinates);

        });
    
    </script>
{% endblock %}