{% extends "layout.html" %}
{% from 'macros.html' import rink_design, team_dropdown %}
{% block content %}

<div class="additional_canvas_options">
  <button id="undo_button" class="btn btn-secondary">Undo</button>
  <button id="goal_button" class="btn btn-success">Goal</button>
</div>
<div class="hockey_canvas">
  <svg viewbox="-1000 -425 2000 850" id="hockey_rink">
    <rect x="-1000" y="-425" rx="100" ry="100" width="100%" height="100%"
      style="fill:rgb(237, 237, 255);stroke-width:3;stroke:black" />
    <image xlink:href="" x="-800" y="-200" width="400" height="400" opacity="0.3" id="home_team_logo" />
    <image xlink:href="" x="400" y="-200" width="400" height="400" opacity="0.3" id="away_team_logo" />
    {{ rink_design() }}
  </svg>
</div>
<div class="input_form">
  <form action="/save_chart" method="post">
    <input type="hidden" name="shot_coordinates" id="shot_coordinates">
    <label for="chart_name">Chart Name</label>
    <input type="text" name="chart_name" id="chart_name">
    <label for="chart_date">Chart Date</label>
    <input type="date" name="chart_date" id="chart_date">
    <label for="home_team">Home Team</label>
    <select name="home_team" id="home_team">
      {{ team_dropdown() }}
    </select>
    <label for="away_team">Away Team</label>
    <select name="away_team" id="away_team">
      {{ team_dropdown() }}
    </select>
    <div class="buttons">
      <input type="submit" value="Save Chart" name="save_chart_button" class="btn btn-primary">
      <input type="submit" value="Clear Chart" name="clear_chart_button" class="btn btn-danger">
  </div>
  </form>
</div>
<script src="{{url_for('static', filename='js/create_chart.js')}}"></script>
{% endblock %}
