{% extends "layout.html" %}
{% block content %}

<div class="additional_canvas_options">
  <button id="undo_button" class="btn btn-secondary">Undo</button>
  <button id="goal_button" class="btn btn-success">Goal</button>
  <button id="miss_button" class="btn btn-danger">Miss</button>
  <button id="save_button" class="btn btn-primary">Save</button>
</div>
<div class="hockey_canvas">
  <svg viewbox="-1000 -425 2000 850" id="hockey_rink">
    <rect x="-1000" y="-425" rx="100" ry="100" width="100%" height="100%"
      style="fill:rgb(237, 237, 255);stroke-width:3;stroke:black" />
    <image xlink:href="" x="-800" y="-200" width="400" height="400" opacity="0.3" id="home_team_logo" />
    <image xlink:href="" x="400" y="-200" width="400" height="400" opacity="0.3" id="away_team_logo" />
    <line x1="0" y1="-425" x2="0" y2="425" style="stroke:red;stroke-width:3" />
    <circle cx="0" cy="0" r="150" stroke="blue" stroke-width="3" fill="none" />
    <line x1="300" y1="-425" x2="300" y2="425" style="stroke:blue;stroke-width:3" />
    <line x1="-300" y1="-425" x2="-300" y2="425" style="stroke:blue;stroke-width:3" />
    <line x1="900" y1="-425" x2="900" y2="425" style="stroke:red;stroke-width:3" />
    <line x1="-900" y1="-425" x2="-900" y2="425" style="stroke:red;stroke-width:3" />
    <rect x="-943" y1="-30" width="40" height="60" style="fill:grey;stroke-width:3;stroke:grey" />
    <rect x="903" y1="-30" width="40" height="60" style="fill:grey;stroke-width:3;stroke:grey" />
  </svg>
</div>
<div class="input_form">
  <form action="/save_chart" method="post">
    <input type="hidden" name="shot_coordinates" id="shot_coordinates">
    <input type="hidden" name="home_team" id="home_team_input">
    <input type="hidden" name="away_team" id="away_team_input">
    <label for="chart_name">Chart Name:</label>
    <input type="text" name="chart_name" id="chart_name">
    <br>
    <label for="chart_date">Chart Date:</label>
    <input type="date" name="chart_date" id="chart_date">
    <br>
    <label for="home_team">Home Team:</label>
    <select name="home_team" id="home_team">
      <option style="display:none;">---</option>
      <option value="BU">Boston University</option>
      <option value="BC">Boston College</option>
      <option value="UConn">Connecticut</option>
      <option value="HC">Holy Cross</option>
      <option value="Maine">Maine</option>
      <option value="UMass">UMass Amherst</option>
      <option value="UML">UMass Lowell</option>
      <option value="Merrimack">Merrimack</option>
      <option value="UNH">New Hampshire</option>
      <option value="NU">Northeastern</option>
      <option value="PC">Providence</option>
      <option value="UVM">Vermont</option>
    </select>
    <br>
    <label for="away_team">Away Team:</label>
    <select name="away_team" id="away_team">
      <option style="display:none;">---</option>
      <option value="BU">Boston University</option>
      <option value="BC">Boston College</option>
      <option value="UConn">Connecticut</option>
      <option value="HC">Holy Cross</option>
      <option value="Maine">Maine</option>
      <option value="UMass">UMass Amherst</option>
      <option value="UML">UMass Lowell</option>
      <option value="Merrimack">Merrimack</option>
      <option value="UNH">New Hampshire</option>
      <option value="NU">Northeastern</option>
      <option value="PC">Providence</option>
      <option value="UVM">Vermont</option>
    </select>
    <br>
    <input type="submit" value="Save Chart" name="save_chart_button" class="btn btn-primary">
    <input type="submit" value="Clear Chart" name="clear_chart_button" class="btn btn-danger">
  </form>
</div>
<script>

  document.getElementById('chart_date').valueAsDate = new Date();

  var shot_coordinates = [];


  var hockey_rink = document.getElementById("hockey_rink");
  var pt = hockey_rink.createSVGPoint();

  var goal_button = document.getElementById('goal_button');
  goal_button.addEventListener("click", function (evt) {
    if (goal_button.classList.contains('active')) {
      goal_button.classList.remove('active');
    } else {
      goal_button.classList.add('active');
    }
  });

  hockey_rink.addEventListener("click", function (evt) {
    pt.x = evt.clientX;
    pt.y = evt.clientY;
    var cursorpt = pt.matrixTransform(hockey_rink.getScreenCTM().inverse());

    var shot_color = "red";

    //check if the goal button is pressed
    if (document.getElementById('goal_button').classList.contains('active')) {
      shot_color = "green";
      goal_button.classList.remove('active');
    }

    //draw a circle at the click location
    var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
    circle.setAttributeNS(null, "cx", cursorpt.x);
    circle.setAttributeNS(null, "cy", cursorpt.y);
    circle.setAttributeNS(null, "r", 7);
    circle.setAttributeNS(null, "fill", shot_color);
    circle.setAttributeNS(null, "stroke", "black");
    hockey_rink.appendChild(circle);
    shot_coordinates.push([cursorpt.x, cursorpt.y, shot_color]);
    document.getElementById('shot_coordinates').value = JSON.stringify(shot_coordinates);

  });

  var home_team_dropdown = document.getElementById('home_team');
  home_team_dropdown.addEventListener("change", function (evt) {
    var home_team = home_team_dropdown.value;
    document.getElementById('home_team_logo').setAttributeNS('http://www.w3.org/1999/xlink', 'href', "{{ url_for('static', filename='images/he_logos/') }}" + home_team + ".png");
    document.getElementById('home_team_input').value = home_team;
  });

  var away_team_dropdown = document.getElementById('away_team');
  away_team_dropdown.addEventListener("change", function (evt) {
    var away_team = away_team_dropdown.value;
    document.getElementById('away_team_logo').setAttributeNS('http://www.w3.org/1999/xlink', 'href', "{{ url_for('static', filename='images/he_logos/') }}" + away_team + ".png");
    document.getElementById('away_team_input').value = away_team;
  });

</script>
{% endblock %}